<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tricks4live.mappers.SubjectMapper">
    <resultMap id="subjectResultMap" extends="Base.baseResultMap" type="com.tricks4live.entries.Subject">
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="categoryId" column="category_id" jdbcType="BIGINT"/>
        <result property="coverPicture" column="cover_picture" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="contentType" column="content_type" jdbcType="VARCHAR"/>
        <result property="videoUrl" column="video_url" jdbcType="VARCHAR"/>
        <result property="deleted" column="deleted" jdbcType="BIT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
    </resultMap>

    <resultMap id="subjectInfoResultMap" type="com.tricks4live.entries.SubjectInfo">
        <id property="id" column="_id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="coverPicture" column="cover_picture" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="contentType" column="content_type" jdbcType="VARCHAR"/>
        <result property="deleted" column="deleted" jdbcType="BIT"/>
        <result property="validCount" column="valid_count"/>
        <result property="invalidCount" column="invalid_count"/>
        <association property="user" resultMap="Base.simpleUserResultMap"/>
    </resultMap>

    <resultMap id="subjectInfoResultMapFull" extends="subjectInfoResultMap" type="com.tricks4live.entries.SubjectInfo">
        <result property="videoUrl" column="video_url" jdbcType="VARCHAR"/>
        <result property="operateSteps" column="operate_steps" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
        <association property="category" resultMap="Base.simpleCategoryResultMap"/>
        <collection property="labels" ofType="com.tricks4live.entries.LabelSimple">
            <id property="id" column="tl_id" jdbcType="BIGINT"/>
            <result property="nameCN" column="name_cn" jdbcType="VARCHAR"/>
            <result property="nameEN" column="name_en" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <select id="findById" parameterType="long" resultMap="subjectInfoResultMapFull">
        SELECT
            si.*,
            tl._id tl_id,
            tl.name_cn,
            tl.name_en
        FROM subject_info si, label_subject ls, t_label tl
        WHERE si._id = ls.subject_id AND
              ls.label_id = tl._id AND
              si._id = #{id, jdbcType=BIGINT}
    </select>

    <insert id="addLabel" parameterType="com.tricks4live.vo.SubjectVO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO label_subject (label_id, subject_id)
        VALUES
        <foreach collection="labelList" item="label" index="index" separator=",">
            (#{label.id, jdbcType=BIGINT}, #{id, jdbcType=BIGINT})
        </foreach>
    </insert>

    <insert id="addSubject" parameterType="com.tricks4live.entries.Subject" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_subject (title, category_id, user_id, cover_picture, content, content_type, operate_steps, video_url,
                               deleted, enabled, create_date, update_date, _version, create_by, update_by, _remark)
        VALUES (#{title, jdbcType=VARCHAR}, #{categoryId, jdbcType=BIGINT}, #{user.id, jdbcType=BIGINT},
                                            #{coverPicture, jdbcType=VARCHAR}, #{content, jdbcType=VARCHAR},
                                            #{contentType,jdbcType=VARCHAR},
                                            #{operateSteps,jdbcType=VARCHAR}, #{videoUrl, jdbcType=VARCHAR},
                                            #{deleted, jdbcType=BIT}, #{enabled, jdbcType=BIT},
                                            #{createDate, jdbcType=TIMESTAMP}, #{updateDate, jdbcType=TIMESTAMP},
                #{version, jdbcType=INTEGER}, #{createBy, jdbcType=VARCHAR}, #{updateBy, jdbcType=VARCHAR},
                #{remark, jdbcType=VARCHAR})
    </insert>

    <select id="getCountInCategory" parameterType="long" resultType="long">
        SELECT COUNT(*)
        FROM subject_info
        WHERE category_id = #{categoryId, jdbcType=BIGINT}
    </select>

    <select id="findByPageInCategory" parameterType="com.tricks4live.vo.SubjectVO" resultMap="subjectInfoResultMap">
        SELECT *
        FROM subject_info
        WHERE category_id = #{categoryId, jdbcType=BIGINT}
        ORDER BY update_date DESC
        LIMIT #{limitOff, jdbcType=BIGINT}, #{limitRows, jdbcType=INTEGER}
    </select>

    <select id="getCount" resultType="long">
        SELECT COUNT(*)
        FROM subject_info
    </select>

    <select id="findByPageForNewest" parameterType="com.tricks4live.vo.PageVO" resultMap="subjectInfoResultMap">
        SELECT *
        FROM subject_info ts
        ORDER BY update_date DESC
        LIMIT #{limitOff, jdbcType=BIGINT}, #{limitRows, jdbcType=INTEGER}
    </select>

    <select id="getCollectedCount" parameterType="long" resultType="long">
        SELECT COUNT(*)
        FROM subject_collect
        WHERE user_id = #{userId, jdbcType=BIGINT}
    </select>

    <select id="findCollectedByPage" parameterType="com.tricks4live.vo.SubjectVO" resultMap="subjectInfoResultMap">
        SELECT *
        FROM subject_collect sc LEFT JOIN subject_info si ON sc.subject_id = si._id
        WHERE sc.user_id = #{userId, jdbcType=BIGINT}
        LIMIT #{limitOff, jdbcType=BIGINT}, #{limitRows, jdbcType=INTEGER}
    </select>

    <select id="getUsersCount" parameterType="long" resultType="long">
        SELECT COUNT(*)
        FROM subject_info
        WHERE user_id = #{userId, jdbcType=BIGINT}
    </select>

    <select id="findByPageForUser" parameterType="com.tricks4live.vo.SubjectVO" resultMap="subjectInfoResultMap">
        SELECT *
        FROM subject_info
        WHERE user_id = #{userId, jdbcType=BIGINT}
        ORDER BY update_date DESC
        LIMIT #{limitOff, jdbcType=BIGINT}, #{limitRows, jdbcType=INTEGER}
    </select>

    <update id="deleteSubject" parameterType="long">
        UPDATE t_subject
        SET deleted = 1
        WHERE _id = #{subjectId, jdbcType=BIGINT}
    </update>
</mapper>