<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tricks4live.mappers.SubjectMapper">
    <resultMap id="subjectResultMapBase" extends="Base.baseResultMap" type="com.tricks4live.entries.Subject">
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="categoryId" column="category_id" jdbcType="BIGINT"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="videoUrl" column="video_url" jdbcType="VARCHAR"/>
        <result property="deleted" column="deleted" jdbcType="BIT"/>
    </resultMap>

    <resultMap id="subjectResultMapFull" extends="subjectResultMapBase" type="com.tricks4live.entries.Subject">
        <association property="user" resultMap="Base.simpleUserResultMap"/>
        <collection property="picUrls" ofType="string">
            <result column="picture_path" jdbcType="VARCHAR"/>
        </collection>
        <collection property="labels" ofType="com.tricks4live.entries.Label">
            <id property="id" column="tl_id" jdbcType="INTEGER"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="nameCN" column="name_cn" jdbcType="VARCHAR"/>
            <result property="nameEN" column="name_en" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <select id="findById" parameterType="long" resultMap="subjectResultMapFull">
        SELECT
            ts.*,
            sp.picture_path,
            tl._id tl_id,
            tl.name_cn,
            tl.name_en,
            tu.nick_name,
            tu.avatar
        FROM t_subject ts, subject_picture sp, label_subject ls, t_label tl, t_user tu
        WHERE ts._id = sp.subject_id AND
              ts._id = ls.subject_id AND
              ts.user_id = tu._id AND
              ls.label_id = tl._id AND
              ts._id = #{id, jdbcType=BIGINT} AND ts.enabled = 1 AND ts.deleted = 0
    </select>

    <insert id="addPicture" parameterType="com.tricks4live.vo.SubjectVO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO subject_picture (subject_id, picture_path)
        VALUES
        <foreach collection="picturePaths" item="path" index="index" separator=",">
            (#{id, jdbcType=BIGINT}, #{path, jdbcType=VARCHAR})
        </foreach>
    </insert>

    <insert id="addLabel" parameterType="com.tricks4live.vo.SubjectVO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO label_subject (label_id, subject_id)
        VALUES
        <foreach collection="labelList" item="label" index="index" separator=",">
            (#{label.id, jdbcType=BIGINT}, #{id, jdbcType=BIGINT})
        </foreach>
    </insert>

    <insert id="addSubject" parameterType="com.tricks4live.entries.Subject" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_subject (title, category_id, user_id, content, video_url, deleted, enabled, create_date, update_date,
                               _version, create_by, update_by, _remark)
        VALUES (#{title, jdbcType=VARCHAR}, #{categoryId, jdbcType=BIGINT}, #{user.id, jdbcType=BIGINT},
                                            #{content, jdbcType=VARCHAR}, #{videoUrl, jdbcType=VARCHAR},
                                            #{deleted, jdbcType=BIT}, #{enabled, jdbcType=BIT},
                                            #{createDate, jdbcType=TIMESTAMP}, #{updateDate, jdbcType=TIMESTAMP},
                                            #{version, jdbcType=INTEGER},
                                            #{createBy, jdbcType=VARCHAR}, #{updateBy, jdbcType=VARCHAR},
                #{remark, jdbcType=VARCHAR})
    </insert>

    <select id="getCountInCategory" parameterType="long" resultType="long">
        SELECT COUNT(*)
        FROM t_subject
        WHERE category_id = #{categoryId, jdbcType=BIGINT} AND enabled = 1 AND deleted = 0
    </select>

    <resultMap id="subjectResultMapSimple" extends="subjectResultMapBase" type="com.tricks4live.entries.Subject">
        <collection property="picUrls" ofType="string">
            <result column="picture_path" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <select id="findByPageInCategory" parameterType="com.tricks4live.vo.SubjectVO" resultMap="subjectResultMapSimple">
        SELECT
            ts.*,
            sp.picture_path
        FROM (
                 SELECT *
                 FROM t_subject
                 WHERE category_id = #{categoryId, jdbcType=BIGINT} AND enabled = 1 AND deleted = 0
                 ORDER BY update_date DESC
                 LIMIT #{limitOff, jdbcType=BIGINT}, #{limitRows, jdbcType=INTEGER}) ts LEFT JOIN subject_picture sp
                ON ts._id = sp.subject_id
        ORDER BY update_date DESC, ts._id DESC
    </select>

    <select id="findCollectedByPage" parameterType="com.tricks4live.vo.PraiseVO" resultMap="subjectResultMapSimple">
        SELECT ts.*
        FROM t_praise tp LEFT JOIN t_subject ts ON tp.content_id = ts._id
        WHERE tp.user_id = #{userId, jdbcType=BIGINT} AND tp.praise_type = #{praiseType, jdbcType=VARCHAR} AND
              tp.praised = #{praised, jdbcType=BIT}
        LIMIT #{limitOff, jdbcType=BIGINT}, #{limitRows, jdbcType=INTEGER}
    </select>

    <update id="deleteSubject" parameterType="long">
        UPDATE t_subject
        SET deleted = 1
        WHERE _id = #{subjectId, jdbcType=BIGINT}
    </update>
</mapper>